{% extends 'base.html' %}

{% block content %}

<div class="container-full banner content">
<div class=" overlaybanner ">

</div>

</div>
<section id="projects">
  <div class="container-fluid">
    <div class="container-fluid mb-5">
      <div class="row">
        <div class="col-md-8">
          <h4>Posted Projects</h4>
        </div>
        <div class="col-md-4">
        </div>
      </div>
    </div>
    <div class="row pl-3 pr-3 ml-3 mr-3">
       
            <div class="col-md-4">
                <div class="card-deck">

                    <div class="card">
                    <div class="view overlay zoom">
                        <img class="card-img-top" src="#" alt="#" width="200px" height="200px">
                        </a>
                      </div>

                      <div class="card-body">
                        <h4 class="card-title"></h4>
                        <a  class="btn btn-outline-info" href="#">View details</a>
                      </div>
                      <div class="card-footer">
                        <span class="dark-text"><img src="#" alt=""  style="width: 50px; border-radius: 50%;">
                         <br>
                          <span class="ml-2 dark-text"></span></span>
                      </div>
                    </div>


                  </div>
  ​
            </div>
     
    </div>
  </div>
</section>
{% endblock %}
